{% extends "encyclopedia/layout.html" %}

{% block body %}
<h1>Random Content</h1>
<table id="randompagetable">
    <tr id="randompagetable_rowA">
        <th id="randompagetable_colA">Title </th>
        <th id="randompagetable_colB">{{ entryname}}</th>
    </tr>
    <tr id="randompagetable">
        <th id="randompagetable_colA">Content </th>
        <th id="randompagetable_colB">{{entries|safe}}</th>
    </tr>
</table>

<a href="http://127.0.0.1:8000/" style="position: absolute;bottom: 5%;">Back</a>
{% endblock %}